.clock-page {
  width: 100vw;
  height: 100vh;
  background-image: url("./clock-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.clock-frame {
  width: 600px;
  height: 600px;
  background: rgb(122, 193, 211);
  border-radius: 55% 45% 56% 44% / 50% 47% 53% 50%;
  margin: 0 auto;
  position: relative;
}

.clock-frame::after {
  content: "";
  width: 2em;
  height: 2em;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.75em);
  left: calc(50% - 0.75em);
  z-index: 5;
}

.clock-hand {
  width: 43%;
  margin-left: 7%;
  height: 8px;
  background: #222;
  border-radius: 100% 0 0 100%;
  border: 2.5px solid rgb(238, 223, 90);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
}

.hour {
  width: 28%;
  margin-left: 22%;
  z-index: 2;
}

.minute {
  width: 36%;
  margin-left: 14%;
  z-index: 1;
}

.second {
  background: rgb(238, 223, 90);
}

.transition-s {
  transition: all 0.1s cubic-bezier(0, 2.37, 0, -0.25);
}

@media (max-width: 630px) {
  .clock-frame {
    width: 400px;
    height: 400px;
  }
  .clock-hand {
    height: 6px;
  }
}
@media (max-width: 440px) {
  .clock-frame {
    width: 200px;
    height: 200px;
  }
  .clock-hand {
    height: 4px;
  }
}
