/* DrumKey Component */
.drum-kit-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./ImagesFontsAudio/drum.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.drum-key {
  width: 100px;
  height: 100px;
  background: #161616a9;
  text-align: center;
  padding: 5px;
  color: #fff;
  border: 4px solid #000;
  border-radius: 10px;
  transition: all 0.07s;
}

.drum-key h3 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.drum-key p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #f7b263;
  letter-spacing: 1px;
}
.active {
  border: 4px solid #f7b263;
  box-shadow: 0 0 10px 1px #f7b263;
  transform: scale(1.1);
}
